{% extends "base.html" %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="display-4 mb-4">Sign up as</h1>
            <div class="d-grid gap-3">
                <a href="{% url 'vsignup' %}" class="btn btn-lg btn-primary">Vendor</a>
                <a href="{% url 'csignup' %}" class="btn btn-lg btn-success">Customer</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}