{% extends 'base.html' %}

{% load static %}

{% block content %}

<h3>Our Products</h3>
{% if user.is_authenticated %}
    <div class="row justify-content-center mb-5">
        <div class="col-md-6">
            <h4 class="text-center mb-3">Create a New Product</h4>
            <form action="{% url 'product_new' %}" method="post" class="border p-4 rounded shadow-sm">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary w-100">Create Product</button>
            </form>
        </div>
    </div>
    {% endif %}
<h1></h1>
<img src="{% static 'images/home.jpg' %}" alt="Home Image" width="600">

{% for product in all_products_list %}
<div>
    <h2><a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a></h2>
</div>
{% endfor %}

<footer class="bg-dark text-white text-center py-3 mt-5">
    <div class="container">
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <a href="{% url 'terms_conditions' %}" class="text-white text-decoration-none">Terms and Conditions</a>
            </li>
        </ul>
    </div>
</footer>
{% endblock content %}
